*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 100%;
}

header {
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px;
}

.container {
    display: grid;
    grid-template-columns: 340px 1fr;
    height: 100vh;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid;
    background-image: url(/img/fatyoshi.svg);
}

.search-wrapper {
    gap: 20px;
    display: flex;
}

.search,
.bell {
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

input[type="search"] {
    background-color: transparent;
    border: 1px solid;
    width: 700px;
    height: 30px;
    border-radius: 20px;
    padding: 0 10px;
}

.top-header {
    display: grid;
    grid-template-columns: 855px 250px;
    margin-top: 20px;
    align-items: center;
    gap: 50px;
}

.bottom-header {
    display: grid;
    grid-template-columns: 400px 340px;
    gap: 400px;
    align-items: center;
}

.user {
    display: grid;
    grid-template-columns: 40px 40px 100px;
    gap: 25px;
    align-items: center;
}

.user-name {
    font-size: 20px;
    font-weight: 600;
}

.user-img-lg {
    background-image: url(/img/fatyoshi.svg);
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 50%;
}

.user-large {
    display: grid;
    grid-template-columns: 60px 325px;
    gap: 15px;
    align-items: center;
}

.welcome-user {
    font-size: 20px;
}

.user-name-lg {
    font-size: 30px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 95px;
    height: 35px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 /3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 350px 305px;
    gap: 50px;
}

.side-header {
    font-size: 40px;
    margin: 35px 20px;
}

.side-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    width: 170px;
    font-weight: 900;
    text-align: left;
}

.account-top {
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 35px);
    margin-left: 20px;
}

.account-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 35px);
    gap: 20px;
    margin-left: 20px;
}
