*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    width: 100%;
}

header {
    grid-column: 2/ 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 75px;
    padding: 0 50px;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 2px solid;
    background-image: url(/img/fatyoshi.svg);
}

.search-wrapper {
    gap: 20px;
    display: flex;
}

.search,
.bell {
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

input[type="search"] {
    border: none;
    width: 700px;
    height: 30px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #e2e8f0;
}

.top-header {
    display: grid;
    grid-template-columns: 855px 250px;
    margin-top: 20px;
    align-items: center;
    gap: 50px;
}

.bottom-header {
    display: grid;
    grid-template-columns: 400px 340px;
    gap: 400px;
    align-items: center;
}

.user {
    display: grid;
    grid-template-columns: 40px 40px 100px;
    gap: 25px;
    align-items: center;
}

.user-name {
    font-size: 20px;
    font-weight: 600;
}

.user-img-lg {
    background-image: url(/img/fatyoshi.svg);
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-radius: 50%;
}

.user-large {
    display: grid;
    grid-template-columns: 60px 325px;
    gap: 15px;
    align-items: center;
}

.welcome-user {
    font-size: 20px;
}

.user-name-lg {
    font-size: 30px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 95px;
    height: 35px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #1a92d3;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 130px 310px 300px;
    background-color: #1a92d3;
}

.dash-wrapper {
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap: 10px;
    color: white;
}

.fa-spider {
    font-size: 40px;
}

.side-header {
    font-size: 25px;
}

.side-btn {
    background: transparent;
    border: none;
    font-size: 15px;
    width: 170px;
    font-weight: 900;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 13px;
    color: white;
}

.account-top {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 35px);
    margin-left: 30px;
}

.account-bottom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 35px);
    gap: 10px;
    margin-left: 30px;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 20px;
    background-color: #e2e8f0;
}

.projects-section {
    padding: 25px 5px;
}

.project-header {
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: 370px 370px;
    gap: 25px;
    padding: 0px 10px;
}

.card {
    height: 190px;
    width: 370px;
    display: grid;
    grid-template-columns: 1fr 30px 30px 30px;
    border-radius: 5px;
    border-left: 5px solid #f0b42a;
    padding: 10px;
    background-color: white;
}

.main-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.text {
    grid-column: 1 / 5;
    padding: 10px;
}

.text .project-name {
    font-size: 16px;
    margin-bottom: 10px;
}

.text p {
    font-size: 13px;
}

.fav {
    grid-column: 2 / 3;
    grid-row: 2;
}

.watch {
    grid-column: 3 / 4;
    grid-row: 2;
}

.share-project {
    grid-column: 4 / 5;
    grid-row: 2;
}

.trend-img {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-image: url(/img/fatyoshi.svg);
}

.announcement-container {
    margin-bottom: 20px;
}

.announcement-container h2,
.trending-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.announcement-wrapper {
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

.side-media {
    padding: 25px 5px;
}

.announcement, 
hr {
    grid-column: 1 / 3;
}

.an {
    padding-right: 20px;
    font-size: 10px;
}

.an-header {
    font-size: 14px;
}

.trend-wrapper {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 25px 30px;
    border-radius: 10px;
    width: 300px;
    background-color: white;
}

.trend {
    display: flex;
    gap: 15px;
}

.trend-info {
    font-size: 15px;
}

.trend-header {
    font-weight: 900;
}

